In [1]:
import pandas
dataset_path = "/Users/marc-andrerauscher/Library/CloudStorage/OneDrive-bwedu/2.Semester/1.Master/Innovation_and_Transfer_Competence/datasets/api_behavior_ext.csv"

In [2]:
dt = pandas.read_csv(dataset_path)
dt  # debugging table plotting

,Unnamed: 0,_id,inter_api_access_duration(sec),api_access_uniqueness,sequence_length(count),vsession_duration(min),ip_type,behavior,behavior_type,num_sessions,num_users,num_unique_apis,source
0,0,024aae60-1a81-3f37-bbe6-3f832c919706,7.010387,0.419355,31.000000,13040,default,outlier,outlier,1.0,1.0,13.0,E
1,1,028d67dd-c6d0-329f-a20e-78db9eab7a55,51.419393,0.252336,107.000000,330113,default,outlier,outlier,1.0,1.0,27.0,E
2,2,02d12bf9-5fe2-3d0c-b233-30e02224b686,25.860775,0.275000,40.000000,62066,default,outlier,outlier,1.0,1.0,11.0,E
3,3,0b3aee1e-dc3b-3728-bc55-f57a23446b3d,0.205909,0.818182,11.000000,136,default,outlier,outlier,1.0,1.0,9.0,E
4,4,0dbfffb4-3ed4-3cb2-904d-c348501a996e,0.122125,0.812500,16.000000,118,default,outlier,outlier,1.0,1.0,13.0,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34418,34418,e564f100-0a97-3dd8-8b55-fb1e801bd228,0.030952,0.016275,245.777778,4108,default,Normal,normal,99.0,9.0,36.0,F
34419,34419,e61bda8b-bff3-37dd-ab57-6f44e11ea4e8,2.300500,0.300000,30.000000,4141,private_ip,outlier,outlier,5.0,1.0,9.0,F
34420,34420,eddf6a8c-277c-36c3-affd-2b2209c2b1b9,0.393229,0.044610,8.966667,6347,default,Normal,normal,30.0,30.0,12.0,F
34421,34421,f311b468-610e-31f5-b8d8-1a2495a14cdc,0.394731,0.166667,108.000000,2558,default,outlier,outlier,4.0,1.0,18.0,F
34422,34422,feb125a2-a0b5-301c-9cca-8c2aad9110de,11.825600,0.800000,10.000000,7096,default,outlier,outlier,2.0,1.0,8.0,F

In [3]:
# 1. Step: Replace all strintgs with integers

In [4]:
# 1.1 Change the 'ip_type'
# Problem: The dataset preview does not show all options of the 'ip_type' attribute.
# Gather all possible options for the 'ip_type' fields

ip_type_values = list(dt['ip_type'].unique())
ip_type_values

['default', 'private_ip', 'datacenter', 'google_bot']

In [5]:
# 1.1 Change the 'ip_type'
# Replace the values with integers.

ip_type_replacement_matrix = {
    'default': 0,
    'private_ip': 1,
    'datacenter': 2,
    'google_bot': 3
}
# new dataset with replaced 'ip_type' value
dt.ip_type = dt.ip_type.replace(ip_type_replacement_matrix)
# dt  # debugging table plotting

In [6]:
# 1.2 Change the 'behavior_tpye' argument
# Replace the values with integers.
# Problem: The dataset preview does not show all options of the 'behavior_type' attribute.
# Gather all possible options for the 'behavior_tpye' fields

ip_type_values = list(dt['behavior_type'].unique())
ip_type_values

['outlier', 'bot', 'normal', 'attack']

In [7]:
behavior_type_replacement_matrix = {
    'outlier': 0,
    'normal': 1,
    'bot': 2,
    'attack': 3
}
# new dataset with replaced 'behavior_type' value
dt.behavior_type = dt.behavior_type.replace(behavior_type_replacement_matrix)
# dt  # debugging table plotting

In [8]:
# 2. Step: Drop the 'behavior' columns/argutment, because it is just an subset of 'bevavior_type' and the 
# dataset only requires one label

dt = dt.drop(columns='behavior')
# dt  # debugging table plotting

In [9]:
# 3. Step: Drop for the analysis unnecessary columns/fields.
# The following columns must be dropped: Unnamed, _id, source

dt = dt.drop(columns=['Unnamed: 0', '_id', 'source'])
# dt  # debugging table plotting

In [10]:
# 4. Step: Normalisation of the data
"""
As next step, the values of the data must normalized in order to create an dataset with an
handy data range. Currently, the range of values of the different columns differ to much (values from 0.1
up to 330.000+).
"""

# ToDo: Normalisation

'\nAs next step, the values of the data must normalized in order to create an dataset with an\nhandy data range. Currently, the range of values of the different columns differ to much (values from 0.1\nup to 330.000+).\n'